.About {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #FFF9F4;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
}

.AboutBg {
  background-image: linear-gradient(to right bottom, #5e60ce, #5e60ce, #5e60ce, #a757bf, #d650a6, #f35789, #ff6b6b);
}

/*----------------------------------------------------------
                           MEDIA QUERIES
------------------------------------------------------------*/

@media (min-width: 768px) {
  .About {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    align-self: flex-start;
    margin-bottom: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 249, 244, 0.6);
    letter-spacing: 1px;
    color: #FFF9F4;
    text-shadow: 0 1px 2px rgba(7, 7, 7, 0.9);
  }
}

@media (min-width: 1200px) {
  .About {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .About {
    font-size: 2.8rem;
  }
}

@media (min-width: 1800px) {
  .About {
    font-size: 3.2rem;
  }
}

@media (min-width: 2000px) {
  .About {
    font-size: 3.8rem;
    margin-bottom: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 249, 244, 0.6);
    letter-spacing: 1px;
    color: #FFF9F4;
    text-shadow: 0 1px 2px rgba(7, 7, 7, 0.9);
  }
}