.Artwork {
  background-color: #fff9f4;
  border: 1px solid #D54949;
  border-radius: 10px;
  margin-bottom: 16px;
  text-align: center;
  padding: 5px;

}

.ArtworkTitles {
  color: #D54949;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
}



.Heart,
.HeartOutline,
.LikeCount,
.Comment,
.CommentCount {
  font-size: 1.2rem;
}

.Heart,
.HeartOutline,
.LikeCount,
.CommentCount {
  color: #D54949;
  margin-right: 10px;
}

.LikeCount,
.CommentCount {
  margin-right: 0;
}

.HeartOutline,
.Comment {
  color: rgba(7, 7, 7, 0.9);
}

.Comment {
  margin: 0 10px;
}


.HeartOutline:hover,
.Comment:hover {
  cursor: pointer;
  color: #5E60CE;
}