.Button:global(.btn) {
  align-self: center;
  border-radius: 100px;
  border-color: transparent !important;
  letter-spacing: 1px;
}

.Button:global(.btn:active) {
  background: #ff6b6b !important;
  color: #529b63 !important;
  box-shadow: none;
  outline: none;
}

.Button:global(.btn:hover) {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Wide {
  width: 300px;
  max-width: 800px;
}



.MedWide {
  width: 300px;
  max-width: 350px;
}

.SmallWide {
  width: 100px;
  max-width: 150px;
}

.BtnBasePurple {
  box-shadow: inset 0 0 20px rgba(82, 155, 99, 0.5);
  background-color: rgb(69, 71, 151);
  color: #ff6b6b;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}

.BtnBasePeach,
.BtnBasePeach:disabled {
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.6);
  background-color: #FF6B6B;
  color: #B0E88D;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}

.SignUpIn {
  width: 100%;
}


.SignUpIn,
.Cancel,
.Follow {
  box-shadow: inset 0 0 10px rgba(69, 71, 151, 0.4);
  background-color: #FF6B6B;
  color: #B0E88D;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}

.Cancel:hover,
.Follow:hover {
  box-shadow: inset 0 0 10px rgba(255, 107, 107, 0.4);
  background-color: rgb(69, 71, 151);
  color: #B0E88D;
  text-shadow: 0 1px 2px #070707;
}


.Submit,
.Unfollow {
  box-shadow: inset 0 0 10px rgba(69, 71, 151, 0.4);
  background-color: #529b63;
  color: #ff6b6b;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}


.Submit:hover {
  box-shadow: inset 0 0 20px rgba(82, 155, 99, 0.9);
  background-color: rgb(69, 71, 151);
  color: #ff6b6b;
  text-shadow: 0 1px 2px #070707;
}



.SignUpIn:hover,
.BtnBasePurple:hover,
.BtnBasePeach:hover,
.BtnBasePeach:disabled:hover,
.Unfollow:hover {
  opacity: 0.8;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9);
  background-color: #80ed99;
  color: #FF6B6B;
  text-shadow: 0 1px 2px #070707;
}



.SignUpIn:focus {
  background-color: #529B63 !important;
  color: #FBA747;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707;
  border-color: rgba(7, 7, 7, 0.6);
}



.SignUpIn:hover:active,
.SignUpIn:focus:active,
.Follow:hover:active,
.UnFollow:hover:active {
  background-color: #529B63 !important;
  color: #FCFCFC !important;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707 !important;
  border-color: rgba(7, 7, 7, 0.6) !important;
}

.SignUpIn:active,
.Follow:active {
  background-color: #529B63 !important;
  color: #FBA747 !important;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707;
  border-color: rgba(7, 7, 7, 0.6);
}




.SignUpIn:disabled {
  background-color: #529B63 !important;
  color: #FBA747 !important;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  cursor: not-allowed;
  text-shadow: 0 1px 2px #070707 !important;
  border-color: rgba(7, 7, 7, 0.6) !important;
}








/*-------------------------
       MEDIA QUERIES
------------------------------*/
@media (min-width: 768px) {}

@media (min-width: 992px) {
  .Button {
    font-size: 1.2rem;
  }


  .ProfileFollow {
    margin-top: 10px;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {}


@media (min-width: 1400px) {}

@media (min-width: 1800px) {
  .Wide {
    width: 1000px;
  }
}


@media (min-width: 2000px) {
  /* .Wide {
    width: 1000px;
  } */
}