.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  letter-spacing: 1px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}


.SignUpIn {
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.6);
  background-color: #FF6B6B;
  color: #B0E88D;
  text-shadow: 0 1px 2px #070707;
}

.SignUpIn:hover {
  opacity: 0.8;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9);
  background-color: #80ed99;
  color: #FF6B6B;
  text-shadow: 0 1px 2px #070707;
}

.SignUpIn:focus {
  background-color: #529B63 !important;
  color: #FBA747;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707;
  border-color: rgba(7, 7, 7, 0.6);
}

.SignUpIn:active {
  background-color: #529B63 !important;
  color: #FBA747 !important;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707;
  border-color: rgba(7, 7, 7, 0.6);
}

.SignUpIn:hover:active,
.SignUpIn:focus:active {
  background-color: #529B63 !important;
  color: #FCFCFC !important;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707 !important;
  border-color: rgba(7, 7, 7, 0.6) !important;
}

.SignUpIn:disabled {
  background-color: #529B63 !important;
  color: #FBA747 !important;
  box-shadow: inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  cursor: not-allowed;
  text-shadow: 0 1px 2px #070707 !important;
  border-color: rgba(7, 7, 7, 0.6) !important;
}


/* .Button:hover:active {
  background-color: #eb1111 !important;
}

.Button:active {
  background-color: #62b221 !important;
}

.Button:focus {
  background-color: #f502f1;
} */






/*-------------------------
       MEDIA QUERIES
------------------------------*/


@media (min-width: 992px) {
  .Button {
    font-size: 1rem;
  }
}