.Button:global(.btn) {
  align-self: center;
  border-radius: 100px;
  border-color: transparent !important;
  letter-spacing: 1px;
}

.Button:global(.btn:active) {
  background: #ff6b6b !important;
  color: #529b63 !important;
  box-shadow: none;
  outline: none;
}

.Button:global(.btn:hover) {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Wide {
  width: 300px;
  max-width: 800px;
}

.MedWide {
  width: 300px;
  max-width: 350px;
}

.BigSmallWide {
  width: 175px;
  padding: 0;
}

.SmallWide {
  width: 100px;
  max-width: 150px;
  padding: 0;
}

.BtnChangeImage {
  padding: 5px;
  border-radius: 100px;
}

.SignUpIn {
  width: 100%;
}

.BtnSave,
.BtnCancel {
  margin: 10px;
}

.Follow,
.Unfollow {
  padding: 0 10px;
}

.AddStep,
.SaveStep,
.CancelStep,
.RemoveImage,
.DeleteStep {
  background: linear-gradient(to right bottom, #454797, #0066ab, #007da0, #008f84, #529b69);
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9);
  color: #f6ece3;
  text-shadow: 0 1px 2px #070707;

}

.AddStep:hover,
.SaveStep:hover,
.CancelStep:hover,
.RemoveImage:hover,
.DeleteStep:hover {
  background: linear-gradient(to right bottom, #529b69, #008f84, #007da0, #0066ab, #454797);
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9);
  color: #f6ece3;
  text-shadow: 0 1px 2px #070707;

}

.SaveStep {
  background-image: linear-gradient(to right bottom, #454797, #9e4896, #da527f, #fa7560, #fba747);
}

.SaveStep:hover {
  background: linear-gradient(to right bottom, #fba747, #fa7560, #da527f, #9e4896, #454797);

}

.CancelStep {
  background: linear-gradient(to right bottom, #454797, #2758a0, #0066a4, #0072a3, #007da0);
}

.CancelStep:hover {
  background: linear-gradient(to right bottom, #007da0, #0072a3, #0066a4, #2758a0, #454797);
}

.RemoveImage {
  background: linear-gradient(to right bottom, #454797, #5d346d, #582a4a, #462630, #2e2323);
}

.RemoveImage:hover {
  background: linear-gradient(to right bottom, #2e2323, #462630, #582a4a, #5d346d, #454797);
}

.DeleteStep {
  background-image: linear-gradient(to right bottom, #454797, #7f4092, #aa3781, #c73867, #d54949);
}

.DeleteStep:hover {
  background-image: linear-gradient(to right bottom, #d54949, #c73867, #aa3781, #7f4092, #454797);
}

.BtnBasePurple,
.BtnCancel {
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(82, 155, 99, 0.5);
  background-color: rgb(69, 71, 151);
  color: #ff6b6b;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}

.BtnBasePeach,
.BtnChangeImage,
.BtnSave,
.BtnBasePeach:disabled {
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(69, 71, 151, 0.6);
  background-color: #FF6B6B;
  color: #B0E88D;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}



.SignUpIn,
.Follow {
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 10px rgba(69, 71, 151, 0.4);
  background-color: #FF6B6B;
  color: #B0E88D;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}

.BtnCancel:hover,
.Follow:hover {
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 10px rgba(255, 107, 107, 0.4);
  background-color: rgb(69, 71, 151);
  color: #B0E88D;
  text-shadow: 0 1px 2px #070707;
}

.Submit,
.Unfollow {
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 10px rgba(69, 71, 151, 0.4);
  background-color: #529b63;
  color: #ff6b6b;
  text-shadow: 0 1px 2px #070707;
  border-color: transparent !important;
}

.Submit:hover {
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(82, 155, 99, 0.9);
  background-color: rgb(69, 71, 151);
  color: #ff6b6b;
  text-shadow: 0 1px 2px #070707;
}

.SignUpIn:hover,
.BtnBasePurple:hover,
.BtnBasePeach:hover,
.BtnChangeImage:hover,
.BtnSave:hover,
.BtnCancel:hover,
.BtnBasePeach:disabled:hover,
.Unfollow:hover {
  opacity: 0.8;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(69, 71, 151, 0.9);
  background-color: #80ed99;
  color: #FF6B6B;
  text-shadow: 0 1px 2px #070707;
}

.SignUpIn:focus {
  background-color: #529B63 !important;
  color: #FBA747;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707;
  border-color: rgba(7, 7, 7, 0.6);
}

.SignUpIn:hover:active,
.SignUpIn:focus:active,
.Follow:hover:active,
.UnFollow:hover:active {
  background-color: #529B63 !important;
  color: #FCFCFC !important;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707 !important;
  border-color: rgba(7, 7, 7, 0.6) !important;
}

.SignUpIn:active,
.Follow:active {
  background-color: #529B63 !important;
  color: #FBA747 !important;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  text-shadow: 0 1px 2px #070707;
  border-color: rgba(7, 7, 7, 0.6);
}

.SignUpIn:disabled {
  background-color: #529B63 !important;
  color: #FBA747 !important;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.9),
    inset 0 0 20px rgba(69, 71, 151, 0.9) !important;
  cursor: not-allowed;
  text-shadow: 0 1px 2px #070707 !important;
  border-color: rgba(7, 7, 7, 0.6) !important;
}

/*-------------------------
       MEDIA QUERIES
------------------------------*/

@media (min-width: 992px) {
  .Button {
    font-size: 1.2rem;
  }

  .ProfileFollow {
    margin-top: 10px;
    margin-left: 30px;
  }
}

@media (min-width: 1800px) {
  .Wide {
    width: 1000px;
  }
}