.Owner,
.PostedMessage {
  color: #454797;
  font-size: 1.2rem;
}

.Owner {
  font-size: 1.2rem;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
  letter-spacing: 1px;
  text-decoration: none;
  margin-bottom: 20px;
}



.Date {
  font-weight: lighter;
  color: #6f6868;
  margin-left: 10px;
}