.FeaturedHeading {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #2e2e2e;
  text-shadow: 0 1px 1px rgba(255, 107, 107, 0.9);
}


.FeaturedBorderTop {
  border-top: solid 3px #ff6b6b;
}

.FeatureCardTitle {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #2e2e2e;
  text-shadow: 0 1px 1px rgba(134, 136, 243, 0.9);
}



/*----------------------------------------------------------
                           MEDIA QUERIES
------------------------------------------------------------*/

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}