.Input:global(.form-control),
.InputSearch:global(.form-control),
.Textarea:global(.form-control),
.CreateArtInput:global(.form-control),
.CreateArtTextarea:global(.form-control) {
  background: #FFF9F4;
  border: 1px solid rgbA(46, 35, 35, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  color: #454797;
  padding: 10px;
  margin-bottom: 1rem;
}

.InputSearch:global(.form-control) {
  padding-left: 2rem;
}

.InputSignIn:global(.form-control) {
  text-align: center;
}

.Textarea:global(.form-control),
.CreateArtInput:global(.form-control),
.CreateArtTextarea:global(.form-control) {
  border-radius: 10px !important;

}

.CommentLink {
  margin-right: 20px;
}



.Input:global(.form-control:focus),
.Textarea:global(.form-control:focus),
.CreateArtInput:global(.form-control:focus),
.CreateArtTextarea:global(.form-control:focus) {
  color: #2E2E2E !important;
  border-color: #6f42c1 !important;
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25) !important;
  outline: 0;
}

.Input::placeholder,
.Textarea::placeholder {
  color: #6f6868;

}

/* .ArtworkComment {} */

@media (min-width: 992px) {
  .Input {
    font-size: 1rem;
  }
}