.ProfileImageWrapper {
  display: flex;
  padding: 6px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
}


.ProfileImage {
  border-radius: 50%;
  display: block;
  width: 100%;
}








/***********************************
         MEDIA QUERIES
***************************************/

@media (min-width: 576px) {
  .pageShell {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .pageShell {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .ProfileImageWrapper {
    width: 150px;
    height: 150px;
  }

  .pageShell {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .pageShell {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .pageShell {
    max-width: 1320px;
  }
}