.Row {
  height: calc(100vh - 81px);
}

.Input {
  background: #FFF9F4;
  border: 1px solid rgbA(46, 35, 35, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  color: #454797;
  text-align: center;
  padding: 10px;
  margin-bottom: 1rem;
}

.Input:focus {
  border-color: #6f42c1;
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
}

.Input::placeholder {
  color: rgba(7, 7, 7, 0.5);

}


.Header {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #529B63;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.8);
}

.Link {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.8);
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  color: #529B63;
}

.Link span {
  color: #FF6B6B;

}

.Link span:hover {
  color: #5E60CE;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}



@media (min-width: 992px) {
  .Input {
    font-size: 1rem;
  }

  .Header,
  .Link {
    font-size: 1.2rem;
  }
}