.Row {
  height: calc(100vh - 81px);
}


.Header {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #529B63;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.8);
}

.Link {
  font-family: bc-alphapipe, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.8);
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  color: #529B63;
}

.Link span {
  color: #FF6B6B;

}

.Link span:hover {
  color: #5E60CE;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}



@media (min-width: 992px) {
  .Input {
    font-size: 1rem;
  }

  .Header,
  .Link {
    font-size: 1.2rem;
  }
}