/*---------------------------
BACKGROUND COLOURS
----------------------------*/
.bgWhiteBase {
  background-color: #FFF9F4;
}


/*--------------------
BACKGROUND GRADIENTS
-------------------------*/

/* Gradient */
.bgMainGradient {
  background-image: linear-gradient(to right bottom, #80ED99, #FF6B6B, #5E60CE);
}

.bgDarkGradient {
  background-image: radial-gradient(circle, #2e2e2e, #2a2a2a, #262626, #222222, #1e1e1e);
}

/* ---------------------------
   🖋️ TEXT COLORS
---------------------------- */

/* White */
.textWhiteLight {
  color: #FCFCFC;
}


/*-------------------------
  FONT FAMILIES
---------------------------*/

.fontPinotMed {
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}


/*-------------------------
      SPECIALS
---------------------------*/

/****** TAGLINE ********/
.TaglineSmall {
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #FFF9F4;
  text-shadow: 0 1px 1px rgba(213, 73, 73, 0.9);
}

.TaglineBlack {
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #2E2E2E;
  text-shadow: 0 1px 1px rgba(213, 73, 73, 0.9);
}


.ArtifexLab {
  /* font-family: bc-alphapipe, sans-serif;
  font-weight: 600; */
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #FFF9F4;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
}


.ArtifexLabQuote {
  /* font-family: bc-alphapipe, sans-serif;
  font-weight: 600; */
  /* font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500; */
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #FFF9F4;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);

}






/*----------------------------------------------------------
                           MEDIA QUERIES
------------------------------------------------------------*/

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}