/*---------------------------
BACKGROUND COLOURS
----------------------------*/

.bgWhiteBase {
  background-color: #FFF9F4;
}

/*--------------------
BACKGROUND GRADIENTS
-------------------------*/

/* Gradient */

.bgMainGradient {
  background-image: linear-gradient(to right bottom, #80ED99, #FF6B6B, #5E60CE);
}

.bgDarkGradient {
  background-image: radial-gradient(circle, #2e2e2e, #2a2a2a, #262626, #222222, #1e1e1e);
}

/* ---------------------------
   🖋️ TEXT COLORS
---------------------------- */

/* White */

.textWhiteLight {
  color: #FCFCFC;
}

/*-------------------------
  FONT FAMILIES
---------------------------*/

.fontPinotMed {
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

/*-------------------------
    BORDERS
---------------------------*/

.BorderPeach {
  border: 1px solid #d54848;
}

.BorderPeachBottom {
  border-bottom: 1px solid #d54848;
}

.BorderRadius {
  border-radius: 10px;
}

/*-------------------------
      SPECIALS
---------------------------*/

/******  WRAPPERS ***********/

.RowWrapperBg {
  background-image: linear-gradient(to left bottom, #f6ece3, #faeeea, #fbf1f1, #faf4f7, #faf8fa, #fbf9fb, #fcfafb, #fdfbfc, #fefafb, #fff9f9, #fff9f7, #fff9f4);
  background-size: cover;
  padding-block: 1.5rem;
}

.pageShell {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

/****** TAGLINE ********/

.TaglineSmall {
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #FFF9F4;
  text-shadow: 0 1px 1px rgba(213, 73, 73, 0.9);
}

.TaglineBlack {
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  line-height: 50px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #2E2E2E;
  text-shadow: 0 1px 1px rgba(213, 73, 73, 0.9);
}

.ArtifexLab,
.ArtifexLabInline {
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #FFF9F4;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
}

.ArtifexLabQuote {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #FFF9F4;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
}

.ProfileLink {
  color: #454696;
  font-size: 1.2rem;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 1px solid #454797;
}

.ProfileLink:hover {
  color: #D54949;
  border-color: #D54949;
}

.ArtUpdate {
  color: #2f5538;
  padding: 5px;
}

.ProfileName,
.ProfileInfo,
.ProfileInfoCount {
  color: #454797;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
}

.ArtworkTitle {
  font-size: 1.2rem;
  color: #D54949;
  text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
}

.CustomHr {
  height: 4px;
  background-image: linear-gradient(to right bottom, #80ED99, #FF6B6B, #5E60CE);
  opacity: 1;
  border: 0;
  border-radius: 2px;
}

.PageHeadings {
  background-image: linear-gradient(120deg,
      hsl(239deg 37% 43%) 0%,
      hsl(286deg 36% 45%) 8%,
      hsl(321deg 46% 51%) 17%,
      hsl(341deg 73% 61%) 25%,
      hsl(0deg 100% 71%) 33%,
      hsl(11deg 100% 75%) 42%,
      hsl(18deg 100% 81%) 50%,
      hsl(23deg 100% 88%) 58%,
      hsl(27deg 100% 98%) 67%,
      hsl(27deg 100% 98%) 75%,
      hsl(27deg 100% 98%) 83%,
      hsl(27deg 100% 98%) 92%,
      hsl(27deg 100% 98%) 100%);
  color: #FFF9F4;
  text-shadow: 0 1px 2px rgba(7, 7, 7, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/*----------------------------------------------------------
                           MEDIA QUERIES
------------------------------------------------------------*/

@media (min-width: 576px) {
  .pageShell {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .TaglineBlack {
    font-size: 2.5rem;
  }

  .textWhiteLight {
    color: #FCFCFC;
    font-size: 1.2rem
  }

  .ArtifexLabQuote {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #FFF9F4;
    text-shadow: 0 1px 1px rgba(7, 7, 7, 0.9);
  }

  .ArtifexLab,
  .ArtifexLabInline {
    font-size: 1.9rem;
  }

  .pageShell {
    max-width: 720px;
  }
}

/******  992PX  ************/

@media (min-width: 992px) {
  .TaglineBlack {
    font-size: 3rem;
  }

  .textWhiteLight {
    font-size: 1.3rem;
  }

  .ArtworkTitle {
    font-size: 1.3rem;
  }

  .pageShell {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .TaglineBlack {
    line-height: 80px;
    font-size: 4rem;
  }

  .ArtifexLab,
  .ArtifexLabInline {
    font-size: 2.2rem;
    ;
  }

  .textWhiteLight {
    font-size: 1.5rem;
  }

  .pageShell {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .TaglineBlack {
    font-size: 5rem;
  }

  .ArtifexLab,
  .ArtifexLabInline {
    font-size: 2.5rem;
  }

  .textWhiteLight {
    font-size: 1.4rem;
  }

  .ArtifexLabQuote {
    font-size: 2rem;
    text-shadow: 0 2px 3px rgba(7, 7, 7, 0.9);
  }

  .pageShell {
    max-width: 1320px;
  }
}

@media (min-width: 1800px) {
  .TaglineBlack {
    line-height: 100px;
    font-size: 6rem;
  }

  .ArtifexLab,
  .ArtifexLabInline {
    font-size: 2.8rem;
    text-shadow: 0 2px 2px rgba(7, 7, 7, 0.9);
  }

  .ArtifexLab {
    text-shadow: 0 3px 3px rgba(7, 7, 7, 0.9);
  }

  .ArtifexLabQuote {
    font-size: 2.8rem;
    text-shadow: 0 3px 4px rgba(7, 7, 7, 0.9);
  }
}

@media (min-width: 2000px) {
  .TaglineBlack {
    line-height: 150px;
    font-size: 8rem;
  }

  .ArtifexLabInline {
    font-size: 3rem;
    text-shadow: 0 3px 3px rgba(7, 7, 7, 0.9);
  }

  .textWhiteLight {
    font-size: 2.5rem;
  }

  .ArtifexLabQuote {
    font-size: 3rem;
    text-shadow: 0 3px 4px rgba(7, 7, 7, 0.9);
  }

  .pageShell {
    max-width: 2010px;
  }
}